
<div class="card form-card">
  <div class="card-header">
    Product Form
    <input
      type="checkbox"
      [checked]="showLabel"
      (change)="showLabel = !showLabel"/>
  </div>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <app-input type="text"
            id="productName"
            label="Product Name"
            formControlName="productName"
            placeholder="Enter Product Name!!!"
            [allowedFilters]="{'imports': ['ALPHABETS', 'NUMBERS'], allowedAsciiList: [44]}"
            [showLabel]="showLabel"
            [error]="error('productName')"></app-input>

          <app-input type="text"
            id="productMaterial"
            label="Material Name"
            formControlName="productMaterial"
            placeholder="Enter Material Name!!!"
            [allowedFilters]="{'imports': ['ALPHABETS', 'NUMBERSWITHDECIMAL'], excludedAsciiList: [90,122]}"
            [showLabel]="showLabel"
            [error]="error('productMaterial')"></app-input>

          <app-input type="number"
            id="price"
            label="Price"
            formControlName="price"
            placeholder="Enter Price!!!"
            [showLabel]="showLabel"
            [error]="error('price')"></app-input>

          <app-input type="text"
            id="department"
            label="Department"
            formControlName="department"
            placeholder="Enter Department!!!"
            [showLabel]="showLabel"
            [error]="error('department')"></app-input>

          <app-file-upload
            id="productImage"
            label="Product Image"
            formControlName="productImage"
            [progress]="progress"
            [showLabel]="showLabel"
            [error]="error('productImage')"></app-file-upload>
        </div>
        <div class="col-3">
          <img class="preview-img" id='previewImage'/>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" [disabled]="!reactiveForm.valid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
