
<div class="card form-card">
  <div class="card-header">
    Product Form
  </div>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <app-input type="text"
          id="productName"
          label="Product Name"
          placeholder="Enter Product Name!!!"
          formControlName="productName"
          [errorList]="hasError('productName')"></app-input>

          <app-input type="text"
          id="productMaterial"
          label="Material Name"
          placeholder="Enter Material Name!!!"
          formControlName="productMaterial"
          [errorList]="hasError('productMaterial')"></app-input>

          <app-input type="number"
          id="price"
          label="Price"
          placeholder="Enter Price!!!"
          formControlName="price"
          [errorList]="hasError('price')"></app-input>

          <app-input type="number"
          id="department"
          label="Department"
          placeholder="Enter Department!!!"
          formControlName="department"
          [errorList]="hasError('department')"></app-input>

          <app-file-upload
          id="productImage"
          label="Product Image"
          formControlName="productImage"
          [progress]="progress"
          [errorList]="hasError('productImage')"></app-file-upload>

        </div>
        <div class="col-3">
          <img id='previewImage'/>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" [disabled]="!reactiveForm.valid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
