<div class="mat-elevation-z8">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-table matSort [dataSource]="dataSource" (matSortChange)="onSortChanged($event)">

    <!-- Position Column mat-sort-header -->
    <ng-container matColumnDef="id">
      <mat-header-cell mat-sort-header *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productName">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productMaterial">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Material </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productMaterial}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="department">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productImage">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productImage}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="createdAt">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Added Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
  [length]="totalRows"
  [pageIndex]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChanged($event)"
  aria-label="Select page">
  </mat-paginator>

</div>
