/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.menu-active {
  background-color: lightsteelblue;
}

app-root {
  min-height: 100%;
  display: block;
  position: relative;
}

.form-card {
  margin: 2rem;
}

.form-input {
  margin: 0.5rem;
}

.footer {
  position: absolute;
  bottom: -30;
  width: 100%;
}

div.input {
  margin: 0.8rem;
}

div.error {
  margin-top: 0.2rem;
}

.btn {
  margin: 0.3rem;
}

.search {
  margin: 1.5rem;
}