<div class="form-group row form-input">
  <div class="col-4" *ngIf="showLabel">
    <label for="{{id}}">{{label}}</label>
  </div>
  <div class="col-8">
    <input class="form-control" 
      type="{{type}}" 
      id="{{id}}" 
      name="{{id}}" 
      placeholder="{{placeholder}}"
      [(ngModel)]="input"
      (ngModelChange)="onChange($event)"
      (blur)="onTouch()"
      attr.allowedFilters="{{allowedFilters}}"
      (keypress)="filterKeystrokes($event)">
    <app-error [error]="error"></app-error>
  </div>
</div>
